.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h2 {
  font-weight: 400;
}

.navlinks {
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
}


.header-right {
  display: flex;
  align-items: center;
  font-size: 26px;
  gap: 15px;
}


@media (max-width: 768px) {
  .navlinks {
    display: none;
  }
}