.hero {
  height: auto; /* vh-> viewport height */
  background: linear-gradient(45deg, black, yellow );
  color: white;
}

.home {
  display: flex;
  align-items: center;
  padding: 70px 10px;
}

.home-left {
  flex: 3;
  min-width: 450px;
}
.home-right {
  flex: 2;
}
.home-right img {
  width: 100%;
  height: 100%;
}

.home-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-subtitle {
  font-size: 16px;
  color: #8b8e99;
  margin-bottom: 45px;
}

.home-search-input {
  background-color: white;
  max-width: 500px;
  height: 50px;
  border-radius: 16px;
  padding: 5px;
  display: flex;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


.home-search-input .search-icon-home {
  color: #3858d6;
  font-size: 28px;
  align-self: center;
}

.home-search-input button {
  background-color : #3858d6;
  border: none;
  padding: 0px 25px;
  height: 100%;
  color: white;
  font-weight: 600;
  border-radius: 9px;
}
.home-search-input input {
  flex: 1;
  outline: none;
  border: none;
  color: black;
  font-weight: 600;
}

.home-search-input input::placeholder {
  color: rgb(169, 168, 168);
}

@media (max-width: 1024px) {
  .home-title {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column-reverse;
  }

  .home-right {
    flex: 1;
  }
  .home-right img {
    max-width: 400px;
  }
  .home-left {
    min-width: 200px;
    flex: 1;
    text-align: center;
  }
  .home-search-input {
    margin: auto;
  }
}

@media (max-width: 600px) {
  .home-title {
    font-size: 36px;
  }
  .home-right img {
    max-width: 320px;
  }

  .home-search-input {
    max-width: 350px;
  }
}
