.brands-section {
  padding: 0px 15px;
  padding-top: 25px;
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.brand {
  flex: 1;
  background-color:burlywood;
  height: 240px;
  padding: 0px 50px;
  border-radius: 22px;

  display: flex;
  align-items: center;
  gap: 25px;
  min-width: 340px;
}

.brand h1 {
  font-size: 36px;
}
.brand p {
  color: gray;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}

.section-title p {
  color: blue;
}
.section-title h2 {
  font-size: 36px;
  font-style: bold;
  font-weight: 700;
}

.products-section {
  margin-bottom: 100px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.product {
  min-width: 250px;
  flex: 1;
  max-width: 500px;
  margin: auto;
}

.product-top {
  background-color: burlywood;
  padding: 50px;
  border-radius: 5px;
}

.product-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.product-info .product-prices {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  margin-top: 10px;
}

.product-info .product-prices span {
  color: gray;
  font-weight: 500;
  font-size: 20px;
  text-decoration: line-through;
}

.product-info .product-prices p {
  font-size: 24px;
}

.btn-viewmore {
  padding: 10px 25px;
  margin: auto;
  margin-top: 70px;
  display: block;
  background-color: #3858d6;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 16px;
}

.comments-section {
  margin-bottom: 100px;
}

.comments-container {
  display: flex;
  gap: 20px;
  padding: 15px 10px;
  max-width: 900px;
  width: 100%;
  margin: auto;
  overflow: auto;
}

.comments-container::-webkit-scrollbar {
  display: none;
}

.comment {
  background-color: burlywood;
  padding: 45px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  gap: 25px;
  min-width: 430px;
}

.comment p {
  color: gray;
}

.comments-carusel-dots {
  display: flex;
  gap: 20px;
  margin: auto;
  padding: 50px 0px;
  justify-content: center;
}

.dot {
  width: 25px;
  height: 25px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.dot.active {
  background-color: #3858d6;
}

.newslatter-section {
  background-color: burlywood;
  display: flex;
  align-items: center;
  padding: 100px;
  border-radius: 22px;
}

.newslatter-left {
  flex: 1;
}

.newslatter-left h1 {
  font-size: 36px;
  font-weight: bold;
}
.newslatter-left p {
  color: gainsboro;
  margin-bottom: 30px;
}

.newsletter-image {
  width: 300px;
}

@media (max-width: 768px) {
  .products-container {
    gap: 15px;
  }

  .product-top {
    padding: 25px;
  }
}

@media (max-width: 1024px) {
  .products-container {
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .product-info h2 {
    font-size: 20px;
  }
  .product-info .product-prices span,
  .product-info .product-prices p {
    font-size: 16px;
  }
}



@media (max-width: 1024px) {
  .newslatter-section {
    padding: 50px;
    gap: 25px;
  }
}

@media (max-width: 768px) {
  .newslatter-section {
    flex-direction: column;
  }
  .newslatter-left {
    text-align: center;
  }
}